<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>login_check</servlet-name>
        <servlet-class>controller.login_check</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login_success</servlet-name>
        <servlet-class>view.login_success</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login_error</servlet-name>
        <servlet-class>view.login_error</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sport_registration_check</servlet-name>
        <servlet-class>controller.sport_registration_check</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>view.login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>payment_sport</servlet-name>
        <servlet-class>controller.payment_sport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login_manager</servlet-name>
        <servlet-class>view.login_manager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manager_login_check</servlet-name>
        <servlet-class>controller.manager_login_check</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>edit_profile</servlet-name>
        <servlet-class>controller.edit_profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>controller.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validate_user</servlet-name>
        <servlet-class>controller.validate_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>remove_user</servlet-name>
        <servlet-class>controller.remove_user</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login_check</servlet-name>
        <url-pattern>/login_check.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login_success</servlet-name>
        <url-pattern>/login_success.view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login_error</servlet-name>
        <url-pattern>/login_error.view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sport_registration_check</servlet-name>
        <url-pattern>/sport_registration_check.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/login.view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>payment_sport</servlet-name>
        <url-pattern>/payment_sport.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login_manager</servlet-name>
        <url-pattern>/login_manager.view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manager_login_check</servlet-name>
        <url-pattern>/manager_login_check.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>edit_profile</servlet-name>
        <url-pattern>/edit_profile.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validate_user</servlet-name>
        <url-pattern>/validate_user.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>remove_user</servlet-name>
        <url-pattern>/remove_user.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index3.jsp</welcome-file>
    </welcome-file-list>
</web-app>
